<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FacebookCatalogManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CatalogCreator</display-name>
    <servlet-name>CatalogCreator</servlet-name>
    <servlet-class>com.facebook.catalog.main.CatalogCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogCreator</servlet-name>
    <url-pattern>/CatalogCreator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PixelAssociation</display-name>
    <servlet-name>PixelAssociation</servlet-name>
    <servlet-class>com.facebook.catalog.main.PixelAssociation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PixelAssociation</servlet-name>
    <url-pattern>/PixelAssociation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GrantCatalogAccess</display-name>
    <servlet-name>GrantCatalogAccess</servlet-name>
    <servlet-class>com.facebook.catalog.main.GrantCatalogAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrantCatalogAccess</servlet-name>
    <url-pattern>/GrantCatalogAccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedCreator</display-name>
    <servlet-name>FeedCreator</servlet-name>
    <servlet-class>com.facebook.catalog.main.FeedCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedCreator</servlet-name>
    <url-pattern>/FeedCreator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedRefresher</display-name>
    <servlet-name>FeedRefresher</servlet-name>
    <servlet-class>com.facebook.catalog.main.FeedRefresher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedRefresher</servlet-name>
    <url-pattern>/FeedRefresher</url-pattern>
  </servlet-mapping>
</web-app>